.site-footer {
    text-align: center;

    .wrap > p {
        display: inline-block;
    }

    .ubermenu-social-media {
        margin-left: 30px;
        clear: left;
        display: inline-block!important;
        @media ( max-width: $screen-xs-max ) {
            margin: 0 0 25px;
        }

        .ubermenu-icon.fa {
            background: #787e7f;
            &:hover {
                background: #06acb2;
            }
        }

        // Hide text links
        .ubermenu-target {
            display: none;
            &.ubermenu-target-with-icon {
                display: block;
            }
        }
    }
}