body.full-width-content {

    .site-inner {
        text-align: center;
    }

    .entry-content {
        padding: 0 100px;
        @media ( max-width: $screen-xs-max ) {
            padding: 0 50px;
        }
        @media ( max-width: $screen-xs-min ) {
            padding: 0 20px;
        }
    }
}
